# Ignore large video files
*.mp4
*.MOV
*.avi
*.webm

# Ignore environment variables and logs
.env
*.log

# Ignore build outputs and dependencies
node_modules/
dist/
.next/
out/
build/

# OS files
.DS_Store
Thumbs.db
